@if (layoutManager.isEmpty()) {
  <div class="widget-grid-empty">
    <div class="widget-grid-message">
      <span class="icon">🖥️</span>
      <h2>Aún no has añadido widgets</h2>
      <button (click)="addDemoWidget()" class="btn btn-primary">Añadir widget demo</button>
    </div>
  </div>
} @else {
  <div class="widget-grid-list">
    @for (widget of layoutManager.allWidgets(); track widget.id) {
      <div class="widget-card">
        <b>{{ widget.type | uppercase }}</b>
        <button (click)="removeWidget(widget.id)" class="btn">✕</button>
      </div>
    }
  </div>
}
